.fill {
    fill: var(--primary-line-color);
}

.fillInverted {
    fill: var(--primary-background-color);
}

.stroke {
    stroke: var(--primary-line-color);
}

.strokeInverted {
    stroke: var(--primary-background-color);
}
