@import "@csstools/normalize.css";
@import "./variables.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
/* @import-normalize; */

:global(body) {
    font-family: "Open Sans", Arial, Sans-Serif;
    font-size: var(--font-size-base);
}

.wrapper {
    margin: auto;
    max-width: 100%;
    width: 768px;

    h1 {
        font-size: var(--font-size-h1);
    }
}

.reactLogo {
    height: 48px;
    vertical-align: middle;
    width: 48px;
}
