.button {
    align-items: center;
    background-color: var(--inverted-page-color, black);
    cursor: pointer;
    display: inline-flex;
    padding: 0.5rem 0.85rem 0.5rem 0.7rem;
    user-select: none;
}

.button:focus {
    background-color: var(--normal-focus-page-color, #eee);
    outline: 0;
}

.button:hover {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset,
        0 0 var(--normal-hover-shadow-size, 0.6rem) var(--normal-hover-shadow, rgba(0, 0, 0, 0.4));
}

.button:active {
    background-color: var(--normal-active-page-color, #ddd);
}

.buttonCaption {
    color: var(--inverted-pen-color, white);
    font-size: var(--large-font-size, 1.3rem);
    font-weight: var(--primary-bold-font-weight, 700);
}

.buttonIcon + .buttonCaption {
    padding-left: 0.5rem;
}

.buttonIcon {
    display: inline-flex;
}

.buttonIcon > * {
    height: 1.9rem;
    width: 1.9rem;
}

.buttonIcon * {
    font-size: 1px;
}
